extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre us", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est ullam obcaecati porro aliquam, saepe necessitatibus quam, fuga, perspiciatis sapiente minus sunt veritatis distinctio dolorem libero nostrum enim et assumenda tenetur doloribus! Repudiandae consequatur necessitatibus culpa tenetur, iste nam autem animi nostrum tempore, porro veritatis exercitationem perferendis veniam nihil amet modi!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem error cum officia hic! Eligendi, pariatur ea sapiente officia exercitationem ipsum laudantium animi modi porro alias repellat fugit ipsa earum molestias quidem libero quas ut voluptatum vitae voluptatibus? Ratione, fugiat commodi?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere alias deserunt rerum cum, iure non libero corporis voluptatem inventore atque hic temporibus? Ratione voluptate eius, tempora necessitatibus ipsa id? Iusto minus sequi molestiae? Doloremque, laborum labore magni cum odit quidem.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ea voluptas cum? Est ut ad quibusdam asperiores dolorum cum voluptatum, dolores modi incidunt odio numquam. Sint incidunt perferendis nisi autem.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ea voluptas cum? Est ut ad quibusdam asperiores dolorum cum voluptatum, dolores modi incidunt odio numquam. Sint incidunt perferendis nisi autem.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ea voluptas cum? Est ut ad quibusdam asperiores dolorum cum voluptatum, dolores modi incidunt odio numquam. Sint incidunt perferendis nisi autem.
                        
